* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  //   outline: 0.1px solid red;
}
.nav-tabs .nav-link.active {
  color: rgb(112, 112, 230);
}
header {
  font-weight: 700;
  color: rgb(32, 105, 105);
  font-size: 40px;
}
.container {
  padding-top: 50px;
}
#tbody__phoneList {
  img {
    height: 100px;
    object-fit: cover;
  }
}

small.sp-thongbao {
  display: none;
  color: red;
  font-size: 1rem;
}
